In [1]:
import sys
sys.path.append('../')

import numpy as np
import pandas as pd
import pickle
import logging

import utils.download_db as ddb
from utils.global_config import CONFIG

from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

In [2]:
logging.basicConfig(
    filename='run-logs.log', 
    encoding='utf-8', 
    format='%(asctime)s %(levelname)s: %(message)s',
    level=logging.DEBUG, 
    filemode='w'
)

# Get model

In [3]:
model_filename = r'../models/XGBClassifier.pickle'
with open(model_filename, 'rb') as bin_file:
    model = pickle.load(bin_file)

# Download database â„–1

In [4]:
url = "https://physionet.org/static/published-projects/afdb/mit-bih-atrial-fibrillation-database-1.0.0.zip"
name = "MIT-BIH-AtrialFibrillation"

db_path = ddb.get_db(url, name, "../../analyse/data/")

signals = ddb.get_signals(db_path, reload=False)

In [5]:
windows = []
classification = []
for sig in signals:
    for window in sig.windows:
        metrics, has_defect = window.get_data()
        windows.append(metrics)
        classification.append(has_defect)

windows_pd = pd.DataFrame(windows)
classification_pd = pd.DataFrame(classification)

In [6]:
windows_pd

,median,mean,variance,mean_abs,max,min,sum,AAA,AAB,AAC,...,BCC,CAA,CAB,CAC,CBA,CBB,CBC,CCA,CCB,CCC
0,-0.002326,0.055419,0.099190,0.222344,0.923729,-0.420833,1.662562,4,0,2,...,0,2,0,0,1,4,0,0,0,0
1,-0.004695,0.038917,0.093349,0.207399,0.923729,-0.420833,1.167500,5,0,2,...,0,2,0,0,1,4,0,0,0,0
2,-0.004695,0.040613,0.091894,0.205703,0.923729,-0.420833,1.218393,5,0,3,...,0,2,0,0,1,3,0,0,0,0
3,-0.004695,0.038467,0.091732,0.203557,0.923729,-0.420833,1.154017,5,0,3,...,0,2,0,0,1,3,0,0,0,0
4,-0.004785,0.015771,0.082734,0.188534,0.923729,-0.420833,0.473120,5,0,3,...,0,2,0,1,1,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2294577,-0.224906,2.857417,155.126511,3.605519,61.406250,-1.000000,68.578016,0,0,0,...,2,0,1,1,0,2,2,1,2,5
2294578,-0.236220,2.727775,149.324823,3.476644,61.406250,-1.000000,68.194373,0,0,0,...,2,0,1,1,0,2,2,1,2,5
2294579,-0.213592,5.590630,328.090512,6.307107,71.166466,-1.000000,139.765746,0,0,0,...,2,0,1,0,0,2,2,1,2,5
2294580,-0.236220,5.551042,328.571580,6.346694,71.166466,-1.000000,138.776056,0,0,0,...,2,0,1,0,0,2,3,1,2,5
2294581,-0.224906,5.824002,340.399382,6.569473,71.166466,-1.000000,139.776056,0,0,0,...,2,0,1,0,0,2,3,1,2,4

In [7]:
classification_pd

             0
0        False
1        False
2        False
3        False
4        False
...        ...
2294577   True
2294578   True
2294579   True
2294580   True
2294581   True

[2294582 rows x 1 columns]

# Tests

**Random**

In [8]:
results = pd.DataFrame()

for i in range(100):
    _, X_test, _, y_test = train_test_split(windows_pd, classification_pd, train_size=0.9, random_state=i)
    y_pred = model.predict(X_test)
    f1 = f1_score(y_test, y_pred)
    result = model.score(X_test, y_test)
    df = pd.DataFrame({"score" : result, "error" : 1 - result, "f1 norm" : f1}, index=[i])
    results = pd.concat([results, df])

In [9]:
results

       score     error   f1 norm
0   0.994738  0.005262  0.971831
1   0.994680  0.005320  0.972002
2   0.994557  0.005443  0.971998
3   0.994672  0.005328  0.971725
4   0.994852  0.005148  0.972142
..       ...       ...       ...
95  0.994558  0.005442  0.971667
96  0.994665  0.005335  0.971674
97  0.994656  0.005344  0.971618
98  0.994747  0.005253  0.971820
99  0.994471  0.005529  0.970948

[100 rows x 3 columns]

In [10]:
print("mean score:\t", np.mean(results["score"]))
print("min score:\t", np.min(results["score"]))
print("max score:\t", np.max(results["score"]))
print("mean f1 norm:\t", np.mean(results["f1 norm"]))

mean score:	 0.9947382043820501
min score:	 0.9944240244192761
max score:	 0.9949863977996444
mean f1 norm:	 0.9718269331788788

**Test all signals**

In [11]:
results = pd.DataFrame()

for i, signal in enumerate(signals):
    X_test, y_test = signal.get_data()
    y_pred = model.predict(X_test)
    f1 = f1_score(y_test, y_pred)
    result = accuracy_score(y_test, y_pred)
    df = pd.DataFrame({"score" : result, "error" : 1 - result, "f1 norm" : f1}, index=[i])
    results = pd.concat([results, df])

In [12]:
results

       score     error   f1 norm
0   0.915383  0.084617  0.269798
1   0.967613  0.032387  0.484414
2   0.970116  0.029884  0.943905
3   0.970034  0.029966  0.943865
4   0.990872  0.009128  0.843950
5   0.987275  0.012725  0.795026
6   0.984645  0.015355  0.913485
7   0.952967  0.047033  0.772162
8   0.998173  0.001827  0.998565
9   0.996304  0.003696  0.997080
10  0.976027  0.023973  0.888529
11  0.970326  0.029674  0.865477
12  0.885880  0.114120  0.930875
13  0.918002  0.081998  0.951245
14  0.992853  0.007147  0.698851
15  0.996896  0.003104  0.839065
16  0.953084  0.046916  0.964798
17  0.965202  0.034798  0.974014
18  0.963200  0.036800  0.580265
19  0.956900  0.043100  0.540393
20  0.988496  0.011504  0.994135
21  0.988885  0.011115  0.994338
22  0.985960  0.014040  0.672885
23  0.994176  0.005824  0.841034
24  0.964577  0.035423  0.966202
25  0.939050  0.060950  0.943193
26  0.989409  0.010591  0.994676
27  0.990473  0.009527  0.995214
28  0.980953  0.019047  0.990385
29  0.988843  0.011157  0.994390
30  0.968241  0.031759  0.977501
31  0.969321  0.030679  0.978266
32  0.988982  0.011018  0.975892
33  0.983395  0.016605  0.963837
34  0.988264  0.011736  0.992396
35  0.988054  0.011946  0.992260
36  0.967993  0.032007  0.938755
37  0.975536  0.024464  0.952301
38  0.966053  0.033947  0.945803
39  0.933986  0.066014  0.889683
40  0.991022  0.008978  0.994213
41  0.997902  0.002098  0.998642
42  0.995998  0.004002  0.966687
43  0.997215  0.002785  0.976687
44  0.995724  0.004276  0.997134
45  0.996703  0.003297  0.997785

In [13]:
print("mean score:\t", np.mean(results["score"]))
print("min score:\t", np.min(results["score"]))
print("mean f1 norm:\t", np.mean(results["f1 norm"]))

mean score:	 0.9744991503414784
min score:	 0.8858799367514222
mean f1 norm:	 0.8939142754567536

# Download database â„–2

In [14]:
url = "https://physionet.org/static/published-projects/vfdb/mit-bih-malignant-ventricular-ectopy-database-1.0.0.zip"
name = "MIT-BIH-Malignant-Ventricular-Ectopy"

db_path = ddb.get_db(url, name, "../../analyse/data/")

signals = ddb.get_signals(db_path, reload=False)

In [15]:
windows = []
classification = []
for sig in signals:
    for window in sig.windows:
        metrics, has_defect = window.get_data()
        windows.append(metrics)
        classification.append(has_defect)

windows_pd = pd.DataFrame(windows)
classification_pd = pd.DataFrame(classification)

In [16]:
windows_pd

,median,mean,variance,mean_abs,max,min,sum,AAA,AAB,AAC,...,BCC,CAA,CAB,CAC,CBA,CBB,CBC,CCA,CCB,CCC
0,-0.042558,0.110940,0.314108,0.389761,1.261905,-0.413043,3.328204,3,0,2,...,3,3,1,0,0,0,6,0,3,0
1,-0.021796,0.122727,0.306837,0.377974,1.261905,-0.413043,3.681810,4,0,2,...,3,3,1,0,0,0,5,0,3,0
2,-0.021796,0.082418,0.262118,0.337665,1.259259,-0.413043,2.472537,5,0,2,...,3,3,1,0,0,0,5,0,3,0
3,-0.021796,0.090877,0.257901,0.329206,1.259259,-0.413043,2.726296,6,0,2,...,3,2,1,0,0,0,5,0,3,0
4,-0.032246,0.076556,0.266664,0.343527,1.259259,-0.437037,2.296667,5,0,3,...,3,2,1,0,0,0,5,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137633,0.029740,0.144267,0.373776,0.458281,1.949367,-0.658747,4.328006,0,0,0,...,3,0,0,0,0,4,4,0,5,0
137634,-0.048210,0.124958,0.378138,0.456837,1.949367,-0.658747,3.748738,0,0,0,...,2,0,0,0,0,4,5,0,5,0
137635,0.029740,0.153716,0.374756,0.462206,1.949367,-0.658747,4.611483,0,0,0,...,2,0,0,0,0,4,5,0,4,0
137636,0.029740,0.152094,0.376591,0.463828,1.949367,-0.658747,4.562824,0,0,0,...,2,0,0,0,0,4,5,0,4,0
137637,0.029740,0.107266,0.318526,0.419000,1.949367,-0.658747,3.217984,0,0,0,...,2,0,0,0,0,4,5,0,4,0

In [17]:
classification_pd

            0
0       False
1       False
2       False
3       False
4       False
...       ...
137633   True
137634   True
137635   True
137636   True
137637   True

[137638 rows x 1 columns]

# Tests

**Random**

In [18]:
results = pd.DataFrame()

for i in range(100):
    _, X_test, _, y_test = train_test_split(windows_pd, classification_pd, train_size=0.9, random_state=i)
    y_pred = model.predict(X_test)
    f1 = f1_score(y_test, y_pred)
    result = model.score(X_test, y_test)
    df = pd.DataFrame({"score" : result, "error" : 1 - result, "f1 norm" : f1}, index=[i])
    results = pd.concat([results, df])

In [19]:
results

       score     error   f1 norm
0   0.852510  0.147490  0.818492
1   0.857414  0.142586  0.825419
2   0.855297  0.144703  0.816775
3   0.856443  0.143557  0.819519
4   0.861201  0.138799  0.822790
..       ...       ...       ...
95  0.852380  0.147620  0.816847
96  0.855379  0.144621  0.821362
97  0.859072  0.140928  0.823925
98  0.851478  0.148522  0.817229
99  0.850867  0.149133  0.816523

[100 rows x 3 columns]

In [20]:
print("mean score:\t", np.mean(results["score"]))
print("min score:\t", np.min(results["score"]))
print("max score:\t", np.max(results["score"]))
print("mean f1 norm:\t", np.mean(results["f1 norm"]))

mean score:	 0.8542222350922373
min score:	 0.8474071445514679
max score:	 0.8612011425795518
mean f1 norm:	 0.8190517790588241

**Test all siganls**

In [21]:
results = pd.DataFrame()

for i, signal in enumerate(signals):
    X_test, y_test = signal.get_data()
    y_pred = model.predict(X_test)
    f1 = f1_score(y_test, y_pred)
    result = accuracy_score(y_test, y_pred)
    df = pd.DataFrame({"score" : result, "error" : 1 - result, "f1 norm" : f1}, index=[i])
    results = pd.concat([results, df])

In [22]:
results

       score     error   f1 norm
0   0.935242  0.064758  0.918824
1   0.844382  0.155618  0.816620
2   0.877207  0.122793  0.902615
3   0.779774  0.220226  0.826247
4   0.737092  0.262908  0.665514
5   0.781846  0.218154  0.852425
6   0.796854  0.203146  0.797546
7   0.714573  0.285427  0.701934
8   0.898808  0.101192  0.901506
9   0.761730  0.238270  0.427451
10  0.955493  0.044507  0.959873
11  0.966115  0.033885  0.974770
12  0.444761  0.555239  0.390687
13  0.471473  0.528527  0.408590
14  0.849680  0.150320  0.867564
15  0.858949  0.141051  0.875536
16  0.952342  0.047658  0.967837
17  0.970532  0.029468  0.980335
18  0.994063  0.005937  0.996362
19  0.993662  0.006338  0.996215
20  0.162195  0.837805  0.279119
21  0.133560  0.866440  0.235646
22  0.199162  0.800838  0.332169
23  0.202680  0.797320  0.337047
24  0.883306  0.116694  0.938037
25  0.942086  0.057914  0.970179
26  0.806408  0.193592  0.892465
27  0.518616  0.481384  0.681074
28  0.805616  0.194384  0.892344
29  0.760563  0.239437  0.864000
30  0.461665  0.538335  0.631697
31  0.582016  0.417984  0.735791
32  0.821412  0.178588  0.870612
33  0.869248  0.130752  0.905809
34  0.862189  0.137811  0.872174
35  0.879591  0.120409  0.891586
36  0.783969  0.216031  0.878904
37  0.770584  0.229416  0.870429
38  0.899464  0.100536  0.887558
39  0.943427  0.056573  0.935138
40  0.829318  0.170682  0.883101
41  0.869950  0.130050  0.909016
42  1.000000  0.000000  1.000000
43  1.000000  0.000000  1.000000

In [23]:
print("mean score:\t", np.mean(results["score"]))
print("min score:\t", np.min(results["score"]))
print("mean f1 norm:\t", np.mean(results["f1 norm"]))

mean score:	 0.762990907449632
min score:	 0.13355953115360888
mean f1 norm:	 0.793689692438507

# Test all signals at once

In [24]:
signals = ddb.get_all_signals()

In [25]:
results = pd.DataFrame()

for i, signal in enumerate(signals):
    X_test, y_test = signal.get_data()
    y_pred = model.predict(X_test)
    f1 = f1_score(y_test, y_pred)
    result = accuracy_score(y_test, y_pred)
    df = pd.DataFrame({"score" : result, "error" : 1 - result, "f1 norm" : f1}, index=[i])
    results = pd.concat([results, df])

In [26]:
results

       score     error   f1 norm
0   0.915383  0.084617  0.269798
1   0.967613  0.032387  0.484414
2   0.970116  0.029884  0.943905
3   0.970034  0.029966  0.943865
4   0.990872  0.009128  0.843950
..       ...       ...       ...
85  0.943427  0.056573  0.935138
86  0.829318  0.170682  0.883101
87  0.869950  0.130050  0.909016
88  1.000000  0.000000  1.000000
89  1.000000  0.000000  1.000000

[90 rows x 3 columns]

In [27]:
print("mean score:\t", np.mean(results["score"]))
print("min score:\t", np.min(results["score"]))
print("mean f1 norm:\t", np.mean(results["f1 norm"]))

mean score:	 0.8710951204832423
min score:	 0.13355953115360888
mean f1 norm:	 0.8449155904256107