In [1]:
import sys
sys.path.append('../')

import numpy as np
import pandas as pd
import pickle
import logging

import utils.download_db as ddb
from utils.global_config import CONFIG

from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

In [2]:
logging.basicConfig(
    filename='run-logs.log', 
    encoding='utf-8', 
    format='%(asctime)s %(levelname)s: %(message)s',
    level=logging.DEBUG, 
    filemode='w'
)

# Get model

In [3]:
model_filename = r'../models/XGBClassifier.pickle'
with open(model_filename, 'rb') as bin_file:
    model = pickle.load(bin_file)

# Download database â„–1

In [4]:
url = "https://physionet.org/static/published-projects/afdb/mit-bih-atrial-fibrillation-database-1.0.0.zip"
name = "MIT-BIH-AtrialFibrillation"

db_path = ddb.get_db(url, name, "../../analyse/data/")

signals = ddb.get_signals(db_path, reload=False)

In [5]:
windows = []
classification = []
for sig in signals:
    for window in sig.windows:
        metrics, has_defect = window.get_data()
        windows.append(metrics)
        classification.append(has_defect)

windows_pd = pd.DataFrame(windows)
classification_pd = pd.DataFrame(classification)

In [6]:
windows_pd

,median,mean,variance,mean_abs,max,min,sum,AAA,AAB,AAC,...,BCC,CAA,CAB,CAC,CBA,CBB,CBC,CCA,CCB,CCC
0,-0.002326,0.055419,0.099190,0.222344,0.923729,-0.420833,1.662562,4,0,2,...,0,2,0,0,1,4,0,0,0,0
1,-0.004695,0.038917,0.093349,0.207399,0.923729,-0.420833,1.167500,5,0,2,...,0,2,0,0,1,4,0,0,0,0
2,-0.004695,0.040613,0.091894,0.205703,0.923729,-0.420833,1.218393,5,0,3,...,0,2,0,0,1,3,0,0,0,0
3,-0.004695,0.038467,0.091732,0.203557,0.923729,-0.420833,1.154017,5,0,3,...,0,2,0,0,1,3,0,0,0,0
4,-0.004785,0.015771,0.082734,0.188534,0.923729,-0.420833,0.473120,5,0,3,...,0,2,0,1,1,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2294577,-0.224906,2.857417,155.126511,3.605519,61.406250,-1.000000,68.578016,0,0,0,...,2,0,1,1,0,2,2,1,2,5
2294578,-0.236220,2.727775,149.324823,3.476644,61.406250,-1.000000,68.194373,0,0,0,...,2,0,1,1,0,2,2,1,2,5
2294579,-0.213592,5.590630,328.090512,6.307107,71.166466,-1.000000,139.765746,0,0,0,...,2,0,1,0,0,2,2,1,2,5
2294580,-0.236220,5.551042,328.571580,6.346694,71.166466,-1.000000,138.776056,0,0,0,...,2,0,1,0,0,2,3,1,2,5
2294581,-0.224906,5.824002,340.399382,6.569473,71.166466,-1.000000,139.776056,0,0,0,...,2,0,1,0,0,2,3,1,2,4

In [7]:
classification_pd

             0
0        False
1        False
2        False
3        False
4        False
...        ...
2294577   True
2294578   True
2294579   True
2294580   True
2294581   True

[2294582 rows x 1 columns]

# Tests

**Random**

In [8]:
results = pd.DataFrame()

for i in range(100):
    _, X_test, _, y_test = train_test_split(windows_pd, classification_pd, train_size=0.9, random_state=i)
    y_pred = model.predict(X_test)
    f1 = f1_score(y_test, y_pred)
    result = model.score(X_test, y_test)
    df = pd.DataFrame({"score" : result, "error" : 1 - result, "f1 norm" : f1}, index=[i])
    results = pd.concat([results, df])

In [9]:
results

       score     error   f1 norm
0   0.995080  0.004920  0.970493
1   0.994866  0.005134  0.969836
2   0.994989  0.005011  0.969847
3   0.994899  0.005101  0.969899
4   0.995095  0.004905  0.970042
..       ...       ...       ...
95  0.994898  0.005102  0.969586
96  0.994831  0.005169  0.969460
97  0.994854  0.005146  0.969311
98  0.995103  0.004897  0.970117
99  0.994868  0.005132  0.969469

[100 rows x 3 columns]

In [10]:
print("mean score:\t", np.mean(results["score"]))
print("min score:\t", np.min(results["score"]))
print("mean f1 norm:\t", np.mean(results["f1 norm"]))
print("min f1 norm:\t", np.min(results["f1 norm"]))

mean score:	 0.9949880088578473
min score:	 0.9946053461717272
mean f1 norm:	 0.9698379279359324
min f1 norm:	 0.9690538435996127

**Test all signals**

In [11]:
results = pd.DataFrame()

for i, signal in enumerate(signals):
    X_test, y_test = signal.get_data()
    y_pred = model.predict(X_test)
    f1 = f1_score(y_test, y_pred)
    result = accuracy_score(y_test, y_pred)
    df = pd.DataFrame({"score" : result, "error" : 1 - result, "f1 norm" : f1}, index=[i])
    results = pd.concat([results, df])

In [12]:
results

       score     error   f1 norm
0   0.959288  0.040712  0.422463
1   0.959241  0.040759  0.422329
2   0.954312  0.045688  0.913801
3   0.948698  0.051302  0.903601
4   0.993173  0.006827  0.875513
5   0.994123  0.005877  0.894075
6   0.961167  0.038833  0.805885
7   0.968084  0.031916  0.833570
8   0.995894  0.004106  0.996779
9   0.997938  0.002062  0.998371
10  0.992806  0.007194  0.965147
11  0.992427  0.007573  0.963168
12  0.871831  0.128169  0.921655
13  0.896980  0.103020  0.937976
14  0.991544  0.008456  0.635294
15  0.996232  0.003768  0.793605
16  0.965455  0.034545  0.974096
17  0.960962  0.039038  0.970921
18  0.986334  0.013666  0.786411
19  0.975111  0.024889  0.664551
20  0.985558  0.014442  0.992635
21  0.985245  0.014755  0.992481
22  0.993366  0.006634  0.811382
23  0.993746  0.006254  0.825600
24  0.876718  0.123282  0.891146
25  0.872510  0.127490  0.888414
26  0.991005  0.008995  0.995482
27  0.998928  0.001072  0.999464
28  0.994424  0.005576  0.997204
29  0.992169  0.007831  0.996069
30  0.997656  0.002344  0.998309
31  0.998172  0.001828  0.998681
32  0.983394  0.016606  0.963527
33  0.984188  0.015812  0.965172
34  0.995446  0.004554  0.997047
35  0.993384  0.006616  0.995711
36  0.950976  0.049024  0.908239
37  0.963872  0.036128  0.930493
38  0.946973  0.053027  0.912694
39  0.930312  0.069688  0.882183
40  0.994583  0.005417  0.996505
41  0.994572  0.005428  0.996485
42  0.998134  0.001866  0.984186
43  0.997535  0.002465  0.979210
44  0.997471  0.002529  0.998306
45  0.998778  0.001222  0.999180

In [13]:
print("mean score:\t", np.mean(results["score"]))
print("min score:\t", np.min(results["score"]))
print("mean f1 norm:\t", np.mean(results["f1 norm"]))
print("min f1 norm:\t", np.min(results["f1 norm"]))

mean score:	 0.9732764692373159
min score:	 0.8718307555297068
mean f1 norm:	 0.903804738741549
min f1 norm:	 0.42232854864433805

# Download database â„–2

In [14]:
url = "https://physionet.org/static/published-projects/vfdb/mit-bih-malignant-ventricular-ectopy-database-1.0.0.zip"
name = "MIT-BIH-Malignant-Ventricular-Ectopy"

db_path = ddb.get_db(url, name, "../../analyse/data/")

signals = ddb.get_signals(db_path, reload=False)

In [15]:
windows = []
classification = []
for sig in signals:
    for window in sig.windows:
        metrics, has_defect = window.get_data()
        windows.append(metrics)
        classification.append(has_defect)

windows_pd = pd.DataFrame(windows)
classification_pd = pd.DataFrame(classification)

In [16]:
windows_pd

,median,mean,variance,mean_abs,max,min,sum,AAA,AAB,AAC,...,BCC,CAA,CAB,CAC,CBA,CBB,CBC,CCA,CCB,CCC
0,-0.042558,0.110940,0.314108,0.389761,1.261905,-0.413043,3.328204,3,0,2,...,3,3,1,0,0,0,6,0,3,0
1,-0.021796,0.122727,0.306837,0.377974,1.261905,-0.413043,3.681810,4,0,2,...,3,3,1,0,0,0,5,0,3,0
2,-0.021796,0.082418,0.262118,0.337665,1.259259,-0.413043,2.472537,5,0,2,...,3,3,1,0,0,0,5,0,3,0
3,-0.021796,0.090877,0.257901,0.329206,1.259259,-0.413043,2.726296,6,0,2,...,3,2,1,0,0,0,5,0,3,0
4,-0.032246,0.076556,0.266664,0.343527,1.259259,-0.437037,2.296667,5,0,3,...,3,2,1,0,0,0,5,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137633,0.029740,0.144267,0.373776,0.458281,1.949367,-0.658747,4.328006,0,0,0,...,3,0,0,0,0,4,4,0,5,0
137634,-0.048210,0.124958,0.378138,0.456837,1.949367,-0.658747,3.748738,0,0,0,...,2,0,0,0,0,4,5,0,5,0
137635,0.029740,0.153716,0.374756,0.462206,1.949367,-0.658747,4.611483,0,0,0,...,2,0,0,0,0,4,5,0,4,0
137636,0.029740,0.152094,0.376591,0.463828,1.949367,-0.658747,4.562824,0,0,0,...,2,0,0,0,0,4,5,0,4,0
137637,0.029740,0.107266,0.318526,0.419000,1.949367,-0.658747,3.217984,0,0,0,...,2,0,0,0,0,4,5,0,4,0

In [17]:
classification_pd

            0
0       False
1       False
2       False
3       False
4       False
...       ...
137633   True
137634   True
137635   True
137636   True
137637   True

[137638 rows x 1 columns]

# Tests

**Random**

In [18]:
results = pd.DataFrame()

for i in range(100):
    _, X_test, _, y_test = train_test_split(windows_pd, classification_pd, train_size=0.9, random_state=i)
    y_pred = model.predict(X_test)
    f1 = f1_score(y_test, y_pred)
    result = model.score(X_test, y_test)
    df = pd.DataFrame({"score" : result, "error" : 1 - result, "f1 norm" : f1}, index=[i])
    results = pd.concat([results, df])

In [19]:
results

       score     error   f1 norm
0   0.801752  0.198248  0.811107
1   0.800620  0.199380  0.817212
2   0.797132  0.202868  0.808473
3   0.800880  0.199120  0.809258
4   0.805024  0.194976  0.812089
..       ...       ...       ...
95  0.798044  0.201956  0.812344
96  0.795208  0.204792  0.805316
97  0.808448  0.191552  0.816697
98  0.801298  0.198702  0.807326
99  0.789771  0.210229  0.807598

[100 rows x 3 columns]

In [20]:
print("mean score:\t", np.mean(results["score"]))
print("min score:\t", np.min(results["score"]))
print("mean f1 norm:\t", np.mean(results["f1 norm"]))
print("min f1 norm:\t", np.min(results["f1 norm"]))

mean score:	 0.7976275327702663
min score:	 0.7867929444601471
mean f1 norm:	 0.8096261413490892
min f1 norm:	 0.8022790774119324

**Test all siganls**

In [21]:
results = pd.DataFrame()

for i, signal in enumerate(signals):
    X_test, y_test = signal.get_data()
    y_pred = model.predict(X_test)
    f1 = f1_score(y_test, y_pred)
    result = accuracy_score(y_test, y_pred)
    df = pd.DataFrame({"score" : result, "error" : 1 - result, "f1 norm" : f1}, index=[i])
    results = pd.concat([results, df])

In [22]:
results

       score     error   f1 norm
0   0.896762  0.103238  0.872242
1   0.865538  0.134462  0.840669
2   0.831256  0.168744  0.867725
3   0.768130  0.231870  0.814677
4   0.608696  0.391304  0.471074
5   0.736842  0.263158  0.817942
6   0.703146  0.296854  0.675797
7   0.739344  0.260656  0.729379
8   0.869642  0.130358  0.870333
9   0.786210  0.213790  0.480159
10  0.969622  0.030378  0.972905
11  0.958235  0.041765  0.968732
12  0.251229  0.748771  0.312915
13  0.320799  0.679201  0.345086
14  0.693938  0.306062  0.756375
15  0.696012  0.303988  0.756335
16  0.958878  0.041122  0.972460
17  0.958254  0.041746  0.972157
18  0.992638  0.007362  0.995491
19  0.990492  0.009508  0.994320
20  0.514955  0.485045  0.679829
21  0.487970  0.512030  0.655887
22  0.506704  0.493296  0.672599
23  0.500838  0.499162  0.667411
24  0.834095  0.165905  0.909544
25  0.830379  0.169621  0.907330
26  0.641104  0.358896  0.781218
27  0.422405  0.577595  0.591280
28  0.874730  0.125270  0.933180
29  0.873781  0.126219  0.932639
30  0.468784  0.531216  0.638330
31  0.358038  0.641962  0.527287
32  0.871712  0.128288  0.908008
33  0.872437  0.127563  0.908257
34  0.782587  0.217413  0.800183
35  0.862854  0.137146  0.876414
36  0.562317  0.437683  0.719850
37  0.569462  0.430538  0.725678
38  0.960445  0.039555  0.953033
39  0.957672  0.042328  0.950664
40  0.779390  0.220610  0.852713
41  0.801828  0.198172  0.866135
42  1.000000  0.000000  1.000000
43  1.000000  0.000000  1.000000

In [23]:
print("mean score:\t", np.mean(results["score"]))
print("min score:\t", np.min(results["score"]))
print("mean f1 norm:\t", np.mean(results["f1 norm"]))
print("min f1 norm:\t", np.min(results["f1 norm"]))

mean score:	 0.7484125833655128
min score:	 0.25122897800776195
mean f1 norm:	 0.7941873154690576
min f1 norm:	 0.3129154795821462

# Test all signals at once

In [24]:
signals = ddb.get_all_signals()

In [25]:
results = pd.DataFrame()

for i, signal in enumerate(signals):
    X_test, y_test = signal.get_data()
    y_pred = model.predict(X_test)
    f1 = f1_score(y_test, y_pred)
    result = accuracy_score(y_test, y_pred)
    df = pd.DataFrame({"score" : result, "error" : 1 - result, "f1 norm" : f1}, index=[i])
    results = pd.concat([results, df])

In [26]:
results

       score     error   f1 norm
0   0.959288  0.040712  0.422463
1   0.959241  0.040759  0.422329
2   0.954312  0.045688  0.913801
3   0.948698  0.051302  0.903601
4   0.993173  0.006827  0.875513
..       ...       ...       ...
85  0.957672  0.042328  0.950664
86  0.779390  0.220610  0.852713
87  0.801828  0.198172  0.866135
88  1.000000  0.000000  1.000000
89  1.000000  0.000000  1.000000

[90 rows x 3 columns]

In [27]:
print("mean score:\t", np.mean(results["score"]))
print("min score:\t", np.min(results["score"]))
print("mean f1 norm:\t", np.mean(results["f1 norm"]))
print("min f1 norm:\t", np.min(results["f1 norm"]))

mean score:	 0.8633430139222121
min score:	 0.25122897800776195
mean f1 norm:	 0.8502139984749977
min f1 norm:	 0.3129154795821462